<!DOCTYPE html>
<html>
<head>
  <title>Diagnosis Submitted - MedTrack</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" type="image/png">
</head>
<body class="patient-dashboard">
  <div class="container">
    <h2>Diagnosis Submitted Successfully!</h2>
    <p>Your report has been sent to the Patient.</p>
    <p><a href="/dashboard">← Back to Dashboard</a></p>
    <a href="/logout">Logout</a>

  </div>
</body>
</html>
